.privacy {
  background-color: black;
  color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}

.inner-privacy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: bisque;
  width: 50%;
}

ul {
  width: 80%;
}

div h2 {
  margin-top: 1rem;
}

div p {
  width: 80%;
}

a {
  color: bisque;
  height: auto;
  width: auto;
}
